.modal-content {
    width: 100%;
}

.container {
    width: 90%;
}

html,
body {
    height: 100%;
}

p {
    margin-top: 3px;
    margin-bottom: 3px;
}

h1 {
    margin-bottom: 0;
    font-weight: bolder;
    color: lightcoral;
}

body {
    background: url(../images/background.png) no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}


.modal-content {
    color: black;
}

.restaurant {
    background: rgba(255, 255, 255, 0.829);
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    color: black;
}

h4,
h5 {
    font-weight: bolder;
}

h3 {
    font-size: 30px;
}

.main-wrapper {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

#map {
    display: none;
    height: 200px;
    margin-bottom: 5px;
}


.midtext {
    color: white;
}
.din {
    color: white;
    background: lightcoral;
    font-weight: normal;
}

li {
    margin-right: 30px;
}
.opacity {
    opacity: 0.5;
}
.seamless{
    color: lightcoral;
}

.openning{
    background: rgba(0, 0, 0, 0.699);
}
#clrAll,
#cancel{
    margin-right: 5%;
}    
.brand-logo {
    margin-left: 50px;
}

/* when screen is 1000px or less Logo is centered w/no margin */
/* @media screen and (max-width:1000px) {

    .brand-logo {
        margin-left: 0;
    }
} */

/* mobile version of website, when screen is 480px or less */
@media screen and (max-width: 600px) {

    #main-wrapper {
        width: 100%;
    }
    #add-restaurant {
        margin-bottom: 20px;
    }
    .brand-logo {
        text-align: left;
        margin-left: 0;
    }
}