.modal-content {
    width: 100%;
}

.container {
    width: 90%;
}

html,
body {
    height: 100%;
}

p {
    margin-top: 3px;
    margin-bottom: 3px;
}

h1 {
    margin-bottom: 0;
    font-weight: bolder;
}

body {
    background: url(../images/foodBackground.png) no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}


.modal-content {
    color: black;
}

.restaurant {
    background: rgba(255, 255, 255, 0.829);
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    color: black;
}

h4,
h5 {
    font-weight: bolder;
}

h3 {
    font-size: 30px;
}

.main-wrapper {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

#map {
    display: none;
    height: 200px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 590px) {

}

.midtext {
    color: lightcoral;
}
.din {
    color: lightcoral;
}

li {
    margin-right: 30px;
}
.opacity {
    opacity: 0.5;
}

@media screen and (max-width: 480px) {

    /* #searchform {
        width:100%;
    } */
    #main-wrapper {
        width: 100%;
    }
    
}